.comment-section {
    display: flex;
    flex-direction: column;
}

.comment {
    padding: 5px;
}

.comment-user-name {
    font-weight: bold;
    padding-right: 10px;
}

.comment-content {
    list-style-type: none;
}

.timestamp {
    color: silver;
    padding: 10px;
}

.add-comment {
    width: 98%;
    height: 75px;
    border: 0px solid;
    margin: 0 auto;
}

input:focus{
    outline: none;
}

hr {
    color: silver;
    width: 98%;
}