.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 980px;
    position: fixed;
    background: #fafafa;
}

.logo-title {
    display: flex;
}

h1 {
    align-self: center;
    font-family: 'billabongregular';
}

h1::before {
    content: "";
    height: 50px;
    width: 1px;
    border-left: 1px solid gray;
    padding-right: 15px;
}

.fab {
    font-size: 2rem;
    align-self: center;
    padding: 15px;
}

.search-container {
    border: 1px solid silver;
    border-radius: 3px;
}

.search-btn{
    border: 0px solid transparent;
    background: white;
    height: 25px;
    border-top-left-radius: 3px;
    padding: 5px;
}

.search-btn:hover {
    cursor: pointer;
}

.input {
    height: 25px;
    border: 0px solid silver;
    border-left: 0px solid transparent;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.header-icons {
    color: gray;
}

.far {
    font-size: 25px;
    padding: 10px;
}

.fab:hover,
.far:hover {
    cursor: pointer;
}


