.card {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border: 1px solid silver;
    box-shadow: 0 0 8px silver;
    margin: 20px;
    width: 300px;
    height: auto;
}

.post-header {
    display: flex;
    width: 85%;
}

.thumbnail-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
}

.users-name{
    align-self: center;
    font-weight: bold;
    letter-spacing: .5px;
}

.users-name:hover {
    cursor: pointer;
}

.post-image {
    width: 98%;
    margin: 0 auto;
}

.likes {
    padding-left: 15px;
    font-weight: bold;
}

.card .fa-heart, 
.card .fa-comment {
    color: gray;
}
