.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    border: 1px solid silver;
    box-shadow: 0 0 8px silver;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-header {
    display: flex;
}

.thumbnail-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 15px;
}

.users-name{
    align-self: center;
    font-weight: bold;
    letter-spacing: .5px;
}

.users-name:hover {
    cursor: pointer;
}

.post-image {
    width: 99%;
    margin: 0 auto;
}

.likes {
    padding-left: 15px;
    font-weight: bold;
}

